HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/

### VS Code ###
.vscode/

## Local Spring Boot config ##
src/main/resources/application.properties
src/main/resources/application-*.properties
src/main/resources/application.yml
src/main/resources/application-*.yml
src/main/resources/application.yaml
src/main/resources/application-*.yaml
!src/main/resources/application*.example.properties
!src/main/resources/application*.example.yml
!src/main/resources/application*.example.yaml
